.wrapper {
	display: flex;
	gap: 8px;
	padding: 8px;
	overflow: auto;
	min-height: max-content;
	border-bottom: var(--live-demo-layout-border);
}

.tab {
	border: unset;
	background-color: transparent;

	&:hover:not([data-active="true"]) {
		color: var(--live-demo-colors-accent);
	}
}
