.wrapper {
  border: var(--live-demo-layout-border);
  background-color: var(--live-demo-colors-surface1);
  border-radius: 6px;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-block: 10px;
}
